# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# Libraries
import pandas as pd # manipulate dataframes
import numpy as np # numerical python
import math # numerical python
import matplotlib.pyplot as plt # viz

# New libraries
import scipy.stats as stats 
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')
pokemon_df = pokemon.copy()

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon_df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon_df_legendary = pokemon_df.groupby('Legendary')['Name'].count().reset_index() 

print(round(pokemon_df_legendary,2))

   Legendary  Name
0      False   735
1       True    65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
pokemon_df_legendary_mean = pokemon_df.groupby('Legendary')['Total'].mean().reset_index(name = "Mean")
pokemon_df_legendary_std = pokemon_df.groupby('Legendary')['Total'].std().reset_index(name = "Std")
print(round(pokemon_df_legendary_mean,2))
print(round(pokemon_df_legendary_std,2))

   Legendary    Mean
0      False  417.21
1       True  637.38
   Legendary     Std
0      False  106.76
1       True   60.94

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Extract Total for legendary and non legendary pokemons
legendary_pokemon    = pokemon_df[pokemon_df["Legendary"] == True]["Total"].dropna()
nonlegendary_pokemon = pokemon_df[pokemon_df["Legendary"] == False]["Total"].dropna()

# Perform two-sample t-test for independent samples
t_stat, p_value = stats.ttest_ind(legendary_pokemon, nonlegendary_pokemon, equal_var=False) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

Test Statistic (t): 25.83
P-Value: 0.0000

What do you conclude from this test? Write your conclusions below.

In [7]:
# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean of total points for legendary and non legendary pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean in total points are different for legendary and non legendary pokemon.")

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean in total points are different for legendary and non legendary pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
pokemon_df_type1_mean = pokemon_df.groupby('Type 1')['Total'].mean().reset_index(name = "Mean")
pokemon_df_type1_std = pokemon_df.groupby('Type 1')['Total'].std().reset_index(name = "Std")
print(round(pokemon_df_type1_mean,2))
print(round(pokemon_df_type1_std,2))

      Type 1    Mean
0        Bug  378.93
1       Dark  445.74
2     Dragon  550.53
3   Electric  443.41
4      Fairy  413.18
5   Fighting  416.44
6       Fire  458.08
7     Flying  485.00
8      Ghost  439.56
9      Grass  421.14
10    Ground  437.50
11       Ice  433.46
12    Normal  401.68
13    Poison  399.14
14   Psychic  475.95
15      Rock  453.75
16     Steel  487.70
17     Water  430.46
      Type 1     Std
0        Bug  117.88
1       Dark  109.13
2     Dragon  146.27
3   Electric  105.72
4      Fairy  123.78
5   Fighting  102.46
6       Fire  109.76
7     Flying  161.40
8      Ghost  110.07
9      Grass  106.65
10    Ground  123.91
11       Ice  108.28
12    Normal  115.73
13    Poison   92.36
14   Psychic  139.03
15      Rock  108.06
16     Steel  115.42
17     Water  113.19

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Extract Total for water and non water pokemons
water_pokemon    = pokemon_df[pokemon_df["Type 1"] == "Water"]["Total"].dropna()
nonwater_pokemon = pokemon_df[pokemon_df["Type 1"] != "Water"]["Total"].dropna()

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Perform two-sample t-test for independent samples
wt_stat, wp_value = stats.ttest_ind(water_pokemon, nonwater_pokemon, equal_var=True) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {wt_stat:.2f}")
print(f"P-Value: {wp_value:.4f}")
print()

Test Statistic (t): -0.44
P-Value: 0.6587

Write your conclusion below.

In [11]:
# Significance level
alpha = 0.05

# Decision-Making
if wp_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean of total points for waater and non water pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean in total points are different for water and non water pokemon.")

Fail to Reject the Null Hypothesis: The mean of total points for waater and non water pokemons are not significantly different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Attack and defense scores
pokemon_attack  = pokemon_df["Attack"]
pokemon_defense = pokemon_df["Defense"]

Describe the results of the test in the cell below.

In [16]:
# Perform paired t-test
pkp_stat, pkp_value = stats.ttest_rel(pokemon_attack, pokemon_defense)
print(f"Test Statistic (t): {pkp_stat:.2f}")
print(f"P-Value: {pkp_value:.5f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if pkp_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between defense and attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between defense and attack scores.")

Test Statistic (t): 4.33
P-Value: 0.00002

Reject the Null Hypothesis: There is a significant difference between defense and attack scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [17]:
# Special attack and special defense scores
pokemon_sp_attack  = pokemon_df["Sp. Atk"]
pokemon_sp_defense = pokemon_df["Sp. Def"]

# Perform paired t-test
spkp_stat, spkp_value = stats.ttest_rel(pokemon_attack, pokemon_defense)
print(f"Test Statistic (t): {spkp_stat:.2f}")
print(f"P-Value: {spkp_value:.5f}")

Test Statistic (t): 4.33
P-Value: 0.00002

Describe the results of the test in the cell below.

In [19]:
# Significance level
alpha = 0.05

# Decision-Making
if spkp_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between special defense and special attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between special defense and special attack scores.")

Reject the Null Hypothesis: There is a significant difference between special defense and special attack scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [23]:
pokemon_df['pokemon_dif'] = pokemon_df["Attack"] - pokemon_df["Defense"]
pokemon_diff  = pokemon_df["pokemon_dif"]
pokemon_dif_mu = 0

# One-Tailed Test 
dif_t_stat, dif_p_value = stats.ttest_1samp(pokemon_diff, pokemon_dif_mu)
print(f"Test Statistic (t): {dif_t_stat:.2f}")
print(f"P-Value: {dif_p_value:.4f}")
print()

if dif_p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say the mean of the difference is cero.")
else:
    print("Reject the Null Hypothesis: There is evidence to say the mean of the difference is not cero.")

Test Statistic (t): 4.33
P-Value: 0.0000

Reject the Null Hypothesis: There is evidence to say the mean of the difference is not cero.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [40]:
pokemon_df['Type1_water'] = pokemon_df['Type 1'] == 'Water'
crosstab_result = pd.crosstab(pokemon_df['Legendary'], pokemon_df['Type1_water'])

print(crosstab_result)

Type1_water  False  True
Legendary
False          627    108
True            61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [42]:
stats.chi2_contingency(crosstab_result)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550985, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [44]:
pvalue_cross = 0.08625467249550985

if pvalue_cross > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Fail to Reject the Null Hypothesis